/*任务8:修真院3CSS*/
.gray{
	color: #c0c0c0;
}
.carousel-inner img{
	height: 100%;
	width: 100%;
}
.container-fluid{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.carousel-indicators .active{
	background-color: #28B078 !important;
}
.contenr_row1{
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.contenr_row1_pic{
	width: 62px;
    height: 62px;
    background-position: -0px -0px;
    background-image: url(../img/task08img/task08_1sprite.png);
}
.contenr_row1_pic2{
    width: 62px;
    height: 62px;
    background-position: -62px -0px;
    background-image: url(../img/task08img/task08_1sprite.png);
}
.contenr_row1_pic3{
    width: 62px;
    height: 62px;
    background-position: -124px -0px;
    background-image: url(../img/task08img/task08_1sprite.png);
}
.contenr_row1_title{
	margin: 20px 0;
	font-size: 20px;
	font-weight: bolder;
}
.contenr_row1_desc{
	width: 210px;
	text-align: justify;
	word-break: break-all;
}
.guifan{
	text-align: center;
}

/*第一行最后一个*/
.contenr_row1_04{
	margin-top: 50px;
	height: 250px;
}
.contenr_row1last{
	height: 200px;
	padding-left: 15px;
	border-left: 2px dashed #c0c0c0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.people_icon{
	display: block;
	width: 13px;
    height: 13px;
    margin-right: 5px;
    background-position: -218px -0px;
	background-image: url(../img/task08img/task08_1sprite.png);
}
.contenr_row1last div:nth-of-type(1),.contenr_row1last div:nth-of-type(3){
	display: flex;
	align-items: center;
}
.contenr_row1last div{
	margin-bottom: 10px;
	margin-left: 30px;
}
/*如何学习*/
.row_title{
	text-align: center;
	font-weight: bolder;
	margin: 40px 0;
}
.contenr_row2{
	display: flex;
	height: 80px;
	align-items: center;
	justify-content: center;
}

.contenr_row2_item01{
	margin-left: 10px;
	width: 50px;
	height: 50px;
	background: #FFFFFF;
	text-align: center;
	line-height: 50px;
	flex-shrink:0;
	border-radius: 50%;
	box-shadow:black 1px 1px 3px;
	margin-right: 15px;
}
.contenr_row2_item2{
	margin-right: 20px;
	width: 168px;
	text-align: justify;
	word-break: break-all;
}
.jiantou_icon{
	width: 32px;
    height: 33px;
    background-position: -186px -0px;
   	background-image: url(../img/task08img/task08_1sprite.png);
   	transform: scale(0.8);
   	position: absolute;
   	margin-left: -150px;
}
/*优秀学员*/
.contenr_row3{
	background: pink;
	background: #FFFFFF;
	border: 1px solid #c0c0c0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 25px;
}
.student_pic{
	width: 108px;
    height: 108px;
    margin: 20px 0;
    background-image: url(../img/task08img/task08_sprite.png);
}
.student1{
    background-position: -0px -0px;
}
.student2{
    background-position: -108px -0px;
}
.student3{
    background-position: -216px -0px;
}
.student4{
    background-position: -324px -0px;
}
.student_desc{
	margin: 20px 20px;
	text-align: justify;
	word-break: break-all;
	
}
.dian{
	bottom: -60px !important;
}
.dian li{
	border: 1px solid #c0c0c0 !important;
}
/*战略合作*/
.zhanlue{
	margin-top: 80px;
}
.zhanlue_pic div{
	height: 140px;
	background: #FFFFFF;
	padding: 0;
	line-height: 140px;
	text-align: center;
}
.zhanlue_pic div:hover{
	box-shadow:#C0C0C0 0px 0px 8px;
    position: relative;
    z-index: 1;
}
/*友情链接*/
.youqing table>tbody>tr>td{
	border: 0 !important;
}
.youqing a{
	color: #000000;
}

/*媒体查询*/
@media screen and (max-width: 768px) {
	.carousel-indicators {
		bottom: 0px !important;
	}
	.contenr_row1,.contenr_row1_04{
		margin-top: 10px;
	}
	.haostudy{
		margin: 20px 0;
	}
	.contenr_row2_item1{
		width: 50px;
		height: 50px;
		background: #009E96;
		border-radius: 50%;
		margin-right: 15px;
	}
	.dian{
		bottom: -70px !important;
	}
	.zhanlue_pic{
		margin: 0 10% !important;
	}
	.contenr_row1last{
		border: none;
		align-items: center;
	}
	.contenr_row1last div{
		margin-left: 0px;
	}

}

@media screen and (max-width: 992px) {
	.jiantou_icon{
		display: none;
	}
	.contenr_row3{
		margin-top: 20px;
	}
	.youqing,.youqing_title{
		display: none;
	}
}
